.product-page {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.back-btn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 4px;
}

.product-page__content {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(237, 237, 237);
}

.product-page__image-container {
    width: 300px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.image-container__image {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    padding: 6px;
    border: 2px solid rgb(242, 242, 242);
    
}

.image-container_no-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 8px;
}

.product-page__info {
    flex: 1;
}

.product-page__price {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.product-page__parameters {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.product-page__parameters h3 {
    margin-bottom: 15px;
}

.parameters-item {
    display: flex;
    padding: 8px 0;
}

.product-page__description {
    margin-top: 20px;
}

.product-page__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-page__quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-top: 10px;
}

.product-page__product-quantity {
    max-width: 30%;
    padding: 3px 0px;
    text-align: center;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 8px;
}