.order-list {
    &__orders-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        gap: 10px;
    }
    @media (max-width: $tablet) {
        &__orders-container {
            padding: 10px;
            grid-template-columns: 1fr;
        }
    }
}