.content-container {
  margin-left: 30px;
  margin-right: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px ;
  background-color: aliceblue;
}

.banner h1 {
  margin: 30px;
}

.new-products {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}