.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.products-list_one-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 50px;  
}