/*Основные брекпоинты*/
$desktop: 1920px;
$desktop-sm: 1024px;
$tablet: 768px;
$mobile: 375px;

/*Основные цвета*/
$primary-color: #095aac;
$secondary-color: #218cff;
$accent-color: #4587e8;
$selected-gray-color: #e3e2e2;
$dark-blue-color: #0b4177;
$light-blue-color: #2c5aa0;

  /*Цвета текста*/
$main-text-color: #2c3e50;
$secondary-text-color: #666;
$link-color: #1154a3;
$white-link-color: #FFFFFFFF;
$price-color: #0065ca;

/*Цвета с назначениями*/
$border-main-color: #e6e8f3;
$error-color: #dc3545;
$success-color: #008000FF;
$info-color: #17a2b8;
$warning-color: #ffc107;

/*Цвета фона*/
$bg-main-color: #fdfdfd;
$bg-secondary-color: #f4f8fd;
$bg-white-blue: #F0F8FFFF;
$bg-light-gray: rgb(253, 249, 249);
$bg-overlay-color: rgba(0, 0, 0, 0.5);
$bg-gray-overlay-color: rgba(253, 249, 249, 0.55);
$bg-med-gray-overlay-color: rgb(244, 242, 242);
$bg-blue-overlay-color: rgba(44, 90, 160, 0.56);