/*Основные брекпоинты*/
$desktop: 1920px;
$desktop-sm: 1024px;
$tablet: 768px;
$mobile: 375px;

/*Основные цвета*/
$primary-color: #095aac;
$accent-color: #4587e8;

/*Цвета фона*/
$bg-main-color: #fdfdfd;
$bg-secondary-color: #f4f8fd;