.catalog-page {
    margin: 30px;
    padding: 20px;
}

.catalog-page__title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog-page__title {
    margin: 0;
}

.catalog-page__title-category {
    display: flex;
    gap: 6px;
    font-weight: bold;
}

.catalog-page__content {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px; 
    align-items: start; 
}

.catalog-page .product-card {
    margin-bottom: 10px;
}

.catalog-page__product-sum {
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalog-page__filters-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-page__products-not-found {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(248, 248, 248);
}