.catalog-page {
    margin: 30px;
    padding: 20px;
    &__title-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__title {
        margin: 0;
    }
    &__title-right {
        display: flex;
        align-items: center;
    }
    &__mobile-filter-button {
        display: none;
    }
    &__title-category {
        display: flex;
        gap: 6px;
        font-weight: bold;
    }
    &__product-sum {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__content {
        display: grid;
        grid-template-columns: 350px 1fr;
        gap: 30px;
        align-items: start;
    }
    &__filters-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__products-not-found {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: $bg-main-color;
    }
    @media (max-width: $desktop-sm) {
        &__content {
            grid-template-columns: 200px 1fr;
        }
    }
    @media (max-width: $tablet) {
        margin: 0;
        padding: 20px 10px;
        &__title-content {

        }
        & h1 {
            font-size: 36px;
        }
        &__filters-wrapper {
            display: none;
        }
        &__mobile-filter-button {
            display: flex;
            gap: 6px;
            & button {
                height: 100%;
            }
        }
        &__title-category {
            display: none;
        }
        &__content {
            grid-template-columns: 1fr;
        }
    }
}

.catalog-page .product-card {
    margin-bottom: 10px;
}