.product-review {
  justify-self: center;
  width: 80%;
  border: 1px $border-main-color solid;
  &__content {
    &__header {
      margin-bottom: 10px;
      align-items: center;
      &__user {
        &__name {
        }
        &__date {
        }
      }
      &__rating {
      }
    }

    &__comment {
    padding: 10px;
      background-color: $bg-light-gray;

    }
  }
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    width: 100%;
  }
}