.btn {
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}

.submit-btn {
    padding: 12px;
    background-color: #0b4177;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover{
    background: #0d3761;
}

.exit-btn {
    padding: 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.exit-btn:hover{
    background: #cb2233;
}

.add-to-cart-btn {
    padding: 12px;
    background-color: #4688ea;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-to-cart-btn:hover{
    background: #2665c3;
}


.quantity-btn {
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}