.brands-slider {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
  padding: 0 50px;
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: $selected-gray-color;
    background: $bg-gray-overlay-color;
    padding: 10px;
    border-radius: 50%;
    &:hover {
      background: $bg-blue-overlay-color;
      color: $white-link-color;
    }
  }
  &__slide {
    display: flex;
    background: $bg-main-color;
    border-radius: 16px;
    border: 2px solid $border-main-color;
    align-items: center;
    padding: 4px;
  }
  &__image {
    height: 50px;
    width: 100%;
    object-fit: contain;
    padding: 2px;
  }
  @media (max-width: $mobile) {
    &__image {
      padding: 1px;
    }
  }
}