.input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px; 
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}