.input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px; 
}

.account-page__form-input {
    width: 100%;
    min-height: 40px; 
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.input-form__label {
    flex-shrink: 0;
    margin-right: 15px;
    text-align: left;
    min-width: 100px;
}

.input-form__error {
    color: red;
}