.modal-change-password {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-overlay-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &__main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 500px;
        border: 2px solid $border-main-color;
        border-radius: 5px;
        background-color: $bg-main-color;
        & span {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        & button {
            margin-top: 10px;
            min-width: 100px;
        }
    }
    &__change-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .input-form {
            align-items: center;
        }
    }
    &__error-message {
        color: $error-color;
        padding: 10px;
    }
}





