.modal-change-password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-change-password__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 500px;
    margin-bottom: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
}

.modal-change-password__main-container span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-change-password__change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}


.modal-change-password__change-password-form button {
    margin-top: 10px;
    margin-bottom: 10px;
}

