.content-container {
  margin-left: 30px;
  margin-right: 30px;
}

.banner {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px ;
background-color: aliceblue;
}

.banner h1 {
  margin: 30px;
}

.new-products {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.products {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.product-card {
  background-color:lightsteelblue;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px steelblue;
  box-sizing: border-box;
}

.parameters-list {
  list-style: none;
}

.product-card h3 {
  color: #3f3f3f;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #2258a8;
}
