.home-page__content {
  margin-left: 30px;
  margin-right: 30px;
}

.home-page__shop-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px ;
  background-color: aliceblue; 
}

.home-page__shop-banner h1 {
  margin: 30px;
}

.home-page__new-products {
  margin-top: 10px; 
}

.new-products__label {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}