.cart-page {
    padding: 20px;
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__label-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 5px;
        background-color: $bg-main-color;
    }
    &__label {
        height: 30px;
        font-weight: bold;
    }
    &__not-found {
        font-size: 18px;
        color: $secondary-text-color;
        text-align: center;
        padding: 40px;
        background-color: $bg-main-color;
        border-radius: 8px;
        margin-bottom: 200px;
    }
    @media (max-width: $tablet) {
        padding: 10px;
        &__label-container {
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            & h1 {
                font-size: 50px;
            }
        }
    }
}

.cart-total {
    margin-top: 30px;
    padding: 20px;
    background-color: $bg-main-color;
    border-radius: 8px;
    border: 1px solid $border-main-color;
    &__label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 5px;
        background-color: $bg-main-color;
    }

    &__button-container button {
        min-width: 250px;
    }
}

.cart-selected-total {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label {
        font-size: 18px;
    }
    &__sum {
        font-size: 22px;
        font-weight: bold;
    }
    @media (max-width: $tablet) {
        &__label {
            font-size: 16px;
        }
        &__sum {
            display: none;
        }
    }
}