.manager-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.manager-page h1 {
    margin-bottom: 20px;
}

.manager-page__order-sum-container {
    margin-bottom: 20px;
}

.manager-page__order-sum h3 {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.manager-page__order-sum p {
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.manager-page__filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
    padding: 25px;
    background-color: #fafafa;
    border: 2px solid #f3f3f3;
    border-radius: 12px;
}

.filter-container__main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 40px;
}

.filter-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.filter-block__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-block__inputs p {
    font-weight: normal;
    color: #888;
    display: flex;
    justify-content: center;
}

.filter-container__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.manager-page__filter-container button {
    height: 38px;
    padding: 0 25px;
    cursor: pointer;
}

.orders__card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.orders__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.order__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.order__info select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 220px;
}

.order__items {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
}

.order__items li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #eee;
}


.manager-page__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 40px 0;
}

.manager-page__pagination button {
    min-width: 45px;
    height: 45px;
    background-color: #3893f1;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.manager-page__pagination button:disabled {
    background-color: #e0e0e0;
    color: #999;
}

.manager-page__no-orders {
    text-align: center;
    padding: 100px 0;
    color: #999;
    font-size: 20px;
}