.product-card {
  background-color:rgb(246, 250, 255);
  border: 2px solid #e6e8f3;
  padding: 15px;
  border-radius: 8px;

}

.product-card__title {
  cursor: pointer;  
}

.product-card__title:hover {
  color: rgb(33, 48, 255);
}

.product-card__price {
  font-size: 22px;
  font-weight: bold;
  color: #2258a8;
}

.product-card h4 {
  font-size: 18px;
  color: #3f3f3f;
}

.product-card__list {
  list-style: none; 
}

.product-card__cart-actions {
  display: flex;
  padding-top: 10px;
}

.cart-actions__checkbox {
  display: flex;
  flex-direction: row ;
  align-items: center;
  margin-left: 10px;
}

.cart-actions__checkbox-title {
  margin-bottom: 4px;
  margin-right: 10px;
}

.cart-actions__checkbox-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}