.header {
  width: 100%;
  padding: 10px 35px;
  background-color: #0b4177;
  color: white;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 30px;
}

.logo {
  font-size: 30px;
  font-weight:bold;
}


.navigation a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navigation a:hover {
  text-decoration:dashed;
}

.account {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 30px;
}

.account a{
  color:  white;
  font-size: 16px;
  font-weight: bold;
}

.cart-btn {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
