.account-container {
    display: flex;
    margin-top: 20px;
    min-height: 300px;
    gap: 30px;
    padding-left: 35px;
}

.menu {
    width: 300px;
    background-color: aliceblue;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.menu a {
    padding: 12px 15px;
    margin-bottom: 5px;
    color: rgb(56, 56, 56);
    font-size: 18px;
}

.user-container {
    flex: 1;               
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user-data-form {
    background-color: aliceblue;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 10px;
    padding: 20px;
    margin-right: 80px;
}

.user-data-form span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
    align-self: center;
    margin-bottom: 50px;
}

.user-data-form label {
    display: inline-block;
    width: 120px;
    text-align: right;     
    margin-right: 10px;
    font-weight: bold;
}

.user-data-form input {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.form-buttons button {
    width: 200px;
    height: 50px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0px;
}