.order-card {
    border: 2px solid $border-main-color;
    border-radius: 8px;
    padding: 20px;
    & h3 {
        color: $dark-blue-color;
    }
    & strong {
        color: $light-blue-color;
    }
}



