.order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    margin-right: 10px;    
}

.order-card h3 {
    margin-top: 0;
    color: #0b4177;
}

