.banner {
    width: 100%;
    margin: 20px 0;
}

.swiper {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #218cff;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.swiper-slide:hover {
  background: #2e93ff;
}

.banner__slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
}

