.account-button {
  &__account-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white-link-color;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    gap: 4px;
    cursor: pointer;
    & span {
      max-width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      color: $secondary-color;
      svg {
        stroke: $secondary-color;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }
  @media (max-width: $desktop-sm) {
    & span {
      max-width: 50px;
    }
  }
}